/* * {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
} */

body {
  /* background-color: rgb(231, 230, 230); */
  background-color: hsl(210, 26%, 11%);
  padding-bottom: 2rem;
  margin-top: 14rem;
}

:root {

  /**
   * colors
   */

  --rich-black-fogra-29_50: hsl(210, 26%, 11%, 0.5);
  --rich-black-fogra-29-1: hsl(210, 26%, 11%);
  --rich-black-fogra-29-2: hsl(210, 50%, 4%);
  --silver-metallic: hsl(212, 9%, 67%);
  --coquelicot_20: hsla(12, 98%, 52%, 0.2);
  --coquelicot_10: hsla(12, 98%, 52%, 0.1);
  --sonic-silver: hsl(0, 0%, 47%);
  --cadet-gray: hsl(214, 15%, 62%);
  --light-gray: hsl(0, 0%, 80%);
  --coquelicot: hsl(283, 100%, 33%);
  /* --coquelicot: hsl(12, 98%, 52%); */
  --gainsboro: hsl(0, 0%, 88%);
  --white_20: hsl(0, 0%, 100%, 0.2);
  --white_10: hsl(0, 0%, 100%, 0.1);
  --black_10: hsl(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-catamaran: 'Catamaran', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-1: 3.8rem;
  --fs-2: 3rem;
  --fs-3: 2.5rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;

  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --shadow-1: 0 0 20px var(--black_10);
  --shadow-2: 0px 10px 24px var(--coquelicot_20);

  /**
   * border radius
   */

  --radius-10: 10px;
  --radius-8: 8px;
  --radius-5: 5px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

.event_header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 3rem;
}

.event_header span {
  display: flex;
  justify-content: center;
  border-top: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 200px;
  /* color: hsl(212, 9%, 67%); */
  color: white;
}

/* Previous Code of Grid */
.events {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 3%; */
  grid-template-columns: repeat(3, 33%);
  gap: 1rem;
  grid-auto-rows: minmax(500px, auto);
}

/* New Code of FLEXBOX */
.events {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 3%; */
  /* grid-template-columns: repeat(3, 33%);
    gap: 1rem;
    grid-auto-rows: minmax(500px, auto); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 30rem;
}

.single_event {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 3px solid red; */
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 23px;
  overflow: hidden;
  transition: 0.5s ease;
  height: 30rem;
  height: 40rem;
  margin-bottom: 2rem;
}

.single_event:hover {
  color: black;
  background-color: white;
}

.event_image {
  overflow: hidden;
  height: 18rem;
  width: 27rem;
}

img {
  max-width: 110%;
}

.event_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  margin: 10px 0;
}

.event_content_name {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.event_content_date {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
}

.butn:hover {
  cursor: pointer;
}


@media screen and (max-width: 1124px) {
  .events {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (max-width: 1128px) {
  .events {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 568px) {
  .events {
    grid-template-columns: repeat(1, 100%);
  }
}

.modal-title {
  color: white;
  font-weight: 600;
}

.modal {
  background: rgba( 14, 8, 37, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ref-modal {
  z-index: 1200;
}

.modal-body {
  background-color: #0e0825;
  border: 0;
}

.modal h3 {
  color: white;
  font-size: 40px;
}

.modal p {
  color: grey;
  margin: 0 0 10px 0;
}

.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 20%;
  float: left;
  margin-right: 1rem;
}
.modal-content .modal-header {
  background-color: #11052C;
  border: 0;
}

.modal-dialog {
  margin-top: 2rem;
}

fieldset {
  display: none;
}

fieldset.show {
  display: block;
}

/* select:focus,
input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #2196f3 !important;
  outline-width: 0 !important;
  font-weight: 400;
} */

/* button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
} */

.tabs {
  margin: 7px 7px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tabs > h6 {
  font-size: 1.7rem;
}

.tabs:hover,
.tabs.active {
  border-bottom: 3px solid #b700ff;
}

.tabs.active i {
  color: #b700ff;
}

a:hover {
  text-decoration: none;
  color: #b700ff;
}

.modal-content {
  border: none;
}

.modal-header i {
  margin: 4px;
}
.modal-backdrop {
  background-color: #000;
}

.line {
  background-color: #cfd8dc;
  height: 1px;
  width: 100%;
}
.modal-footer {
  border: none;
  background-color: #11052C;
}

.inactive-text {
  color: #929daf;
}

@media screen and (max-width: 768px) {
  .tabs h6 {
    font-size: 12px;
  }
  .modal img {
    display: none;
  }
}


:root {
  --rich-black-fogra-39: hsl(252, 24%, 4%);
  --spanish-gray: hsl(0, 0%, 56%);
  --eerie-black-1: hsl(252, 11%, 9%);
  --eerie-black-2: hsl(0, 0%, 13%);
  --raisin-black: hsl(249, 9%, 15%);
  --han-purple: #c800ff;
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white_20: hsla(217, 15%, 70%, 0.3);
  --xiketic: hsl(250, 15%, 8%);
  --indigo: #57048b;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gradient-1: linear-gradient(
    150deg,
    var(--indigo) 0%,
    var(--han-purple) 78%
  );
  --ff-poppins: "Poppins", sans-serif;
  --ff-jost: "Jost", sans-serif;
  --fs-1: 4.8rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 1.9rem;
  --fs-5: 1.4rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --section-padding: 90px;
  --shadow-1: 0 2px 2px var(--black);
  --shadow-2: 0px 2px 4px var(--black);
  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a,
button,
img,
ion-icon,
span {
  display: block;
}
img {
  height: auto;
}
button {
  background: 0 0;
  border: none;
  font: inherit;
}
button {
  cursor: pointer;
}
ion-icon {
  pointer-events: none;
  color: var(--white);
}
::selection {
  background-color: var(--white_20);
}
:focus-visible {
  outline-offset: 4px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}

.butn {
  color: var(--white);
  font-weight: var(--fw-700);
  border: 1px solid var(--white);
  padding: var(--padding, 4px 10px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.butn ion-icon {
  font-size: 1.8rem;
}
.butn:is(:hover, :focus) {
  background-image: var(--gradient-1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 120%;
  border-color: transparent;
}
.section-subtitle {
  position: relative;
  background-image: var(--gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: var(--fw-600);
  margin-block-end: 15px;
  width: max-content;
}
.section-subtitle::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -60px;
  width: 50px;
  height: 3px;
  background-image: var(--gradient-1);
}
.h1,
.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-jost);
}
.h2,
.h3 {
  font-weight: var(--fw-600);
}
.h2 {
  font-size: var(--fs-2);
  line-height: 1.2;
}
.section {
  padding-block-start: var(--section-padding);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 50px;
}

.grid-list {
  display: grid;
  gap: 80px;
}
.cards {
  background-color: var(--eerie-black-1);
  padding: 24px;
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
  transition: var(--transition-2);
}
.card-banner {
  overflow: hidden;
  border-radius: var(--radius-6);
  background-color: var(--raisin-black);
}
.img-cover {
  width: 100%;
  height: 200%;
  object-fit:fill;
}
.card-title,
.card-title > a {
  transition: var(--transition-2);
}
.explore-card:hover {
  transform: translateY(-5px);
}
.explore-card .card-banner {
  aspect-ratio: 1/1;
  margin-block-end: 35px;
}
.explore-card .card-title > a:is(:hover, :focus) {
  color: var(--han-purple);
}
.explore-card .card-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
.explore-card .author-link {
  color: var(--white);
  font-family: var(--ff-jost);
  font-weight: var(--fw-500);
  transition: var(--transition-2);
}
.explore-card .author-link:is(:hover, :focus) {
  color: var(--han-purple);
}
.explore-card .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 15px;
}
.explore-card .wrapper-item {
  color: var(--white);
}
.explore-card .btn {
  font-size: var(--fs-5);
  --padding: 8px 15px;
}
@media (min-width: 575px) {
  .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-1: 6.4rem;
  }
}
@media (min-width: 992px) {
  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
    width: 100%;
    margin-inline: auto;
  }
  .grid-list {
    padding: 0 10rem;
    grid-template-columns: repeat(3, 1fr);
  }
}


 .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}
 .tokenInfo .price ins {
  text-decoration: none;
  margin-left: -0.3rem;
  margin-right: 0.5rem;
  margin-bottom: 10px;
}
 .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}
 .tokenInfo .duration ins {
  text-decoration: none;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}



/*Footer*/

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container_bg { padding-inline: 15px; }

.section { padding-block: var(--section-padding);
  background-color: var(--rich-black-fogra-29-1);
 }

.bg-dark {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--silver-metallic);
  
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
}

.btn {
  max-width: max-content;
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  padding: 15px 35px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--coquelicot);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--coquelicot);
  box-shadow: var(--shadow-2);
}

.btn-secondary:is(:hover, :focus) { background-color: var(--rich-black-fogra-29-1); }

.btn-link:is(:hover, :focus) { --color: var(--coquelicot); }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.logo {
  color: var(--rich-black-fogra-29-1);
  font-family: var(--ff-catamaran);
  font-size: 3.5rem;
  font-weight: var(--fw-900);
  display: flex;
  align-items: center;
  margin-inline-start: -8px;
}

.navbar-link:is(:hover, :focus, .active) { color: var(--rich-black-fogra-29-1); }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

/* .hero::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: var(--coquelicot);
  z-index: -1;
} */
/*fixing svg issue in hero*/
/* #hero-hbg{
 width:660px; height:753px";
} */





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}





/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/





/*-----------------------------------*\
  #CLASS
\*-----------------------------------*/
/* .class-card:hover{
  box-shadow: 0 0 1em white, 0 0 1.5em hsl(305, 100%, 50%), 0 0 3em hsl(225, 100%, 55%) ;
} */

.class-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
}

.class-card .card-title:is(:hover, :focus) { color: var(--coquelicot); }





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-card:is(:hover, :focus) .card-banner img {
  transform: scale(1.1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--coquelicot); }

.blog-card .btn-link:is(:hover, :focus) { --color: var(--rich-black-fogra-29-1); }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { font-size: var(--fs-6); }

.footer-top .container_bg {
  display: grid;
  gap: 50px;
}

.footer .logo { color: var(--white); }

.footer-brand-text { margin-block: 25px; }

.footer-top .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.footer-brand-list li:not(:last-child) { margin-block-end: 15px; }

.footer-brand-title,
.footer-list-title {
  color: var(--white);
  font-family: var(--ff-catamaran);
}

.footer-list-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-800);
  margin-block-end: 28px;
}

.footer-list-title::before {
  bottom: 0;
  width: 70px;
  height: 1px;
  background-color: var(--coquelicot);
}

.footer-list > li:not(:first-child) { margin-block-start: 12px; }

.footer-link { transition: var(--transition-1); }

.footer-link:not(.address):is(:hover, :focus) { color: var(--coquelicot); }

.footer-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-list-item .icon {
  background-color: var(--coquelicot);
  color: var(--white);
  font-size: 24px;
  padding: 8px;
  border-radius: 50px;
}

.footer-form {
  position: relative;
  margin-block-end: 30px;
}

.footer-form .input-field {
  background-color: var(--white);
  color: var(--rich-black-fogra-29-1);
  padding-block: 18px;
  padding-inline: 30px 80px;
  border-radius: var(--radius-10);
}

.footer-form .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0;
  font-size: 26px;
  padding-inline: 12px;
}

.footer-form .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}

.social-list {
  display: flex;
  gap: 15px;
}

.social-link {
  background-color: var(--white_20);
  color: var(--white);
  padding: 13px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { background-color: var(--coquelicot); }

.footer-bottom {
  background-color: var(--rich-black-fogra-29-2);
  color: var(--white);
  text-align: center;
  padding-block: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--coquelicot);
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-start: 10px;
}

.footer-bottom-link {
  padding-inline-start: 20px;
  transition: var(--transition-1);
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--coquelicot);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) { color: var(--coquelicot); }










/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */
 /* @media (max-width: 991px){
  .hero .container_bg{
    display: flex;
    flex-direction: column-reverse;
  }
 } */
 /* @media (max-width: 991px){
  .about .container_bg{
    display: flex;
    flex-direction: column-reverse;
  }
 } */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.8rem;
    --fs-2: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container_bg {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }





  .footer-top .container_bg {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container_bg { max-width: 720px; }



  /**
   * HERO
   */



  /**
   * FOOTER
   */

  .footer-bottom .container_bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom-list { margin-block-start: 0; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container_bg { max-width: 960px; }

  

  /**
   * HEADER
   */

  .header .navbar-link:is(:hover, :focus, .active) { color: var(--coquelicot); }

  .header.active .btn:is(:hover, :focus) { background-color: var(--rich-black-fogra-29-1); }



  /**
   * HERO
   */



  /**
   * ABOUT
   */



  /**
   * FOOTER
   */

  .footer-top .container_bg {
    grid-template-columns: 0.85fr 0.5fr 1fr 0.85fr;
    column-gap: 50px;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 7rem;
    --fs-2: 5.5rem;
    --fs-4: 2.2rem;
    --fs-5: 2rem;

    /**
     * spacing
     */

    --section-padding: 120px;
    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container_bg { max-width: 1300px; }

  .btn {
    padding: 18px 45px;
    border-radius: var(--radius-10);
  }





  :is(.class-card, .blog-card) .card-content { padding: 30px; }



  /**
   * FOOTER
   */

  .footer-top .container_bg { grid-template-columns: 1fr 0.6fr 0.9fr 1fr; }

}


.duration span.live{
	background:#f3007a;	
  margin: 0.5rem;
  font-weight: 600;
}
.duration span {
    float: right;
    color:#62748F;
    font-size: 14px;
}

.duration span {
  border-radius: 50px;
  line-height: 14px;
  font-size: 13px;
  color: #fff;
  font-style: normal;
  padding: 4px 10px;
  margin-left: 5px;
  margin-top: -5px;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: var(--light-gray); }

::-webkit-scrollbar-thumb { background-color: var(--coquelicot); }

::-webkit-scrollbar-thumb:hover { background-color: var(--rich-black-fogra-29-1); }



